.active-frame{
    width: 300px;
    height: 400px;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-top: -265px;
    margin-left: -150px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}