.main-frame {
    width: 1100px;
    height: 735px;
    left: 170px;
    border-radius: 10px;
    top: 30px;
    font-family: calibri;
}
  
.content {
  position: absolute;
  display: block;
  z-index: 1;
}

.background-image{
    content:"";
    background: url(main-background.jpg);
    mix-blend-mode: darken;
    opacity: 0.15;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    position: absolute;
  }
  
  .background-color {
    background-color: rgb(78,164,98, 1);
    position: absolute;
    display: block;
    z-index: -1;
  }
  