.info-popup{
    width: 50%;
    left: 25%;
    top: 40%;
    background: #FFFFFF;
    border: 1px solid #308552;
    border-radius: 10px;
    position: absolute;
    text-align: center;
}

.popup-container{
    padding-left: 10px;
    padding-right: 10px;
    min-height: 150px;
}

.error-message{
    font-family: calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}