.room-header{
    text-align: center;
    font-family: calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #308552;
}

.room-h2{
    text-align: center;
    font-family: calibri;
    font-style: normal;
    font-size: 18px;
    margin-top: -20px;

    color: #308552;
}

.room-form{
    text-align: center;
    position: absolute;
    width: 90%;
    height: 75%;
    left: 5%;
    top: 15%;

    border: 1px solid #308552;
    box-sizing: border-box;
}

.room-table-container{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 80%;
    overflow-y:scroll;

    outline: 1px solid #308552;
    box-sizing: border-box;
}

.room-table{
    text-align: center;
    vertical-align: middle;
    width: 100%;

    border-collapse: collapse;
}

.room-table-header{
    background: #2F3F35;
    border: 1px #308552;
    color: white;
}

.room-table-body{
    color: #4EA470;
}

tr:nth-child(even) {background-color: #E5E5E5;}

.room-table-row{
    height: 36px;
}

.room-table-cell{
    padding-left: 10px;
    height: 36px;
    border-top: 1px solid #929292;
    text-align: left;
}

.room-table-row[thisIsMe=false]{
    color: #929292;
}

.room-management-container{
    top:80%;
    width: 100%;
    height: 20%;
    position: absolute;
    outline: 1px solid #308552;
}

.start-game-button-container{
    position: absolute;
    width:50%;
    left:0%;
    margin-top: -2%;
}

.close-room-button-container{
    position: absolute;
    width:50%;
    left:50%;
    margin-top: -2%;
}

.username[host=true]{
    background-image: url(./host-icon.png);
    background-repeat: no-repeat;
    background-position: 100px;
    margin: 0px;
}

.status[ready=true]{
    content: url(./ready-icon.png);
}

.status[ready=false]{
    content: url(./not-ready-icon.png);
}

.confirm-action-cancel-div{
    width: 50%;
    position:absolute;
}

.confirm-action-ok-div{
    width: 50%;
    left: 50%;
    position:absolute;
}